<div class="content">
    {% if site.front_img %}
    <img src="{{ site.front_img_path }}" id="fullscreen">
    {% endif %}

    {% if site.avatar %}
        <img src="{{ site.avatar_img_path }}" id="avatar">
    {% endif %}

    <h1>{{ site.name }}</h1>
    <h3>{{ site.description }}</h3>

        <ul>
            {% if site.github_username %}
            <li><a class="fa fa-2x fa-github" href="https://github.com/{{ site.github_username }}"><span class="description">GitHub</span></a></li>
            {% endif %}

            {% if site.linkedin_username %}
            <li><a class="fa fa-2x fa-linkedin" href="https://linkedin.com/in/{{ site.linkedin_username }}"><span class="description">LinkedIn</span></a></li>
            {% endif %}

            {% if site.resume_gdrive_url %}
            <li><a class="fa fa-2x fa-file-text" target="_blank" href="{{ site.resume_gdrive_url }}"><span class="description">Resume</span></a></li>
            {% endif %}

            {% if site.instagram_username %}
            <li><a class="fa fa-2x fa-instagram" href="https://instagram.com/{{ site.instagram_username }}"><span class="description">Instagram</span></a></li>
            {% endif %}

            {% if site.stack_of_username %}
            <li><a class="fa fa-2x fa-stack-overflow" href="https://stackoverflow.com/users/{{ site.stack_of_username }}"><span class="description">Stack OF</span></a></li>
            {% endif %}

            {% if site.blog_url %}
            <li><a class="fa fa-2x fa-tags" href="{{ site.baseurl }}{{ site.blog_url }}"><span class="description">Blog</span></a></li>
            {% endif %}

            {% if site.email %}
            <li><a class="fa fa-2x fa-envelope" href="mailto:{{ site.email }}"><span class="description">Email</span></a></li>
            {% endif %}

            {% if site.public_key_url %}
            <li><a class="fa fa-2x fa-key" href="{{ site.public_key_url }}"><span class="description">PGP Key</span></a></li>
            {% endif %}
        </ul>
</div>
