<!DOCTYPE html>
<html>
    <head>
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-110472799-1"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());
            gtag('config', 'UA-110472799-1');
        </script>
        {% include head.html %}
        {% seo %}
    </head>
    <body>
        {% include header.html %}
          {{ content }}
    </body>
</html>
